{% extends 'base.html.twig' %}

{% block title %}Vacatures toevoegen{% endblock %}

{% block body %}
<div class="box">
    <h1 class="logos">VACIT</h1>
    <div class="box-content">
        <div class="buttons">
            <a href="{{path('homepage')}}">HOMEPAGE</a>
        </div>
    </div>
</div>
<div class="addon"></div>
<div class="grid-x">
    <div class="cell large-10 small-11">
        <form action="{{path('vactoe')}}" style="margin-left: 5%" method="POST">
            <h1 style="color: #F15A24; margin-top: 30px; margin-bottom: 30px">Voeg uw vacature toe</h1>
                <label for="inputTitel">Titel</label>
                <input type="text" name="titel" id="inputTitel" value="">
                <label for="inputOmschrijving">Omschrijving</label>
                <input type="text" name="omschrijving" id="inputOmschrijving" value="">
                <label for="inputNiveau">Niveau</label>
                <input type="text" name="niveau" id="inputNiveau" value="">
                <label for="inputPlatform">Platform</label>
                <input type="text" name="platform" id="inputPlatform" value="">
                <button class="btn btn-lg btn-primary flotr" 
                    style="margin-top: 20px; margin-bottom: 20px; background-color: white; border: 0" 
                    type="submit">
                <h2 style="color: #F15A24"><i class="fas fa-arrow-right"></i> Opslaan</h2>
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
